.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    list-style: none;
    margin: 3rem 10rem 0rem 10rem;
  }
  .card{
    background-color: #6593A6;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .illu_ventes{
    width: 12rem;
  }
